:root {
  font-size: 10px;
}

@media (max-width: 1160px) {
  :root {
    font-size: 9px;
  }
}

@media (max-width: 1060px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 940px) {
  :root {
    font-size: 7px;
  }
}

@media (max-width: 840px) {
  :root {
    font-size: 6.5px;
  }
}

body {
  background-color: #621402;
  margin: 0;
  cursor: default;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.firstPage {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-30%, rgba(146, 32, 7, 0.31)), color-stop(85.62%, #621402)), url(./images/bg.png) no-repeat center top/cover;
  background: linear-gradient(180deg, rgba(146, 32, 7, 0.31) -30%, #621402 85.62%), url(./images/bg.png) no-repeat center top/cover;
  min-height: 100vh;
}

.firstPage .header {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstPage .headerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstPage .headerLeft .logoSvg {
  display: block;
  width: 3rem;
}

.firstPage .headerLeft .logoSvg:hover svg {
  fill: gray;
}

.firstPage .headerLeft .logoSvg svg {
  width: 100%;
}

.firstPage .headerLeftNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5.5rem;
}

.firstPage .headerLeftNavigation a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 2.5rem;
}

.firstPage .headerLeftNavigation a:hover {
  color: lightgray;
}

.firstPage .headerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.firstPage .headerRight p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.6rem;
}

.firstPage .headerRight img {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  margin-left: 1.2rem;
}

.firstPageFilm {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstPageFilmInfo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #FFFFFF;
}

.firstPageFilmInfo h3 {
  font-size: 2.4rem;
  opacity: 0.6;
  margin: 0;
}

.firstPageFilmInfo h1 {
  margin: 1.1rem 0 2.4rem;
  font-size: 3.6rem;
  font-weight: 700;
}

.firstPageFilmInfo p {
  margin: 0;
  font-size: 1.6rem;
}

.firstPageFilmInfo .subInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.5rem;
}

.firstPageFilmInfo .subInfo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

.firstPageFilmInfo .subInfo div p {
  font-size: 1.6rem;
  margin-left: 1rem;
}

.firstPageFilmInfo .subInfo div p span {
  font-size: 2.4rem;
  line-height: 100%;
}

.firstPageFilmTrailer {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: auto;
}

.firstPageFilmTrailer svg {
  fill: #621402ad;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.firstPageFilmTrailer svg:hover {
  fill: #621402ad;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.firstPageFilmTrailer svg:hover path {
  fill: #cfcbcb;
}

.firstPageFilmTrailer svg path {
  fill: #bbb8b8;
}

.firstPageSession {
  padding-top: 5rem;
  margin-top: 6rem;
  padding-bottom: 6rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstPageSessionDate p {
  margin: 0;
  margin-bottom: 2rem;
}

.firstPageSessionDateBlocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstPageSessionDateBlocksItem {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.5rem;
  width: 9rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.firstPageSessionDateBlocksItem:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #621402;
  border: 1px solid #FFFFFF;
}

.firstPageSessionDateBlocksItem span:nth-child(1) {
  text-transform: uppercase;
}

.firstPageSessionDateBlocksItem span:nth-child(2) {
  font-size: 3rem;
  font-weight: 900;
}

.firstPageSessionDateBlocksItem span:nth-child(3) {
  font-size: 1.9rem;
}

.firstPageSessionDateBlocksItem:nth-child(4) {
  margin: 0;
}

.firstPageSessionPlace p {
  margin: 0;
}

.firstPageSessionPlaceSelect {
  cursor: pointer;
  width: 40rem;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.firstPageSessionPlaceSelect span {
  margin: 1.8rem;
}

.firstPageSessionPlaceSelect svg {
  margin-left: auto;
  margin-right: 1.8rem;
}

.firstPageSessionPlace #placeSelectToggler {
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
}

.firstPageSessionPlaceSelectDown {
  width: 40rem;
  background-color: rgba(255, 255, 255, 0.082);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.firstPageSessionPlaceSelectDown p {
  cursor: pointer;
  padding-left: 1.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.firstPageSessionPlaceSelectDown p:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.firstPageSessionPlaceSelectDown p:nth-child(1) {
  border-top: none;
}

.firstPageSessionTime p {
  margin: 0;
}

.firstPageSessionTimeSelect {
  cursor: pointer;
  width: 20rem;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.firstPageSessionTimeSelect span {
  margin: 1.8rem;
}

.firstPageSessionTimeSelect svg {
  margin-left: auto;
  margin-right: 1.8rem;
}

.firstPageSessionTime #timeSelectToggler {
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
}

.firstPageSessionTimeSelectDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.082);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.firstPageSessionTimeSelectDown p {
  width: 33%;
  cursor: pointer;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.firstPageSessionTimeSelectDown p:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.firstPageSessionTimeSelectDown p:nth-child(1), .firstPageSessionTimeSelectDown p:nth-child(2), .firstPageSessionTimeSelectDown p:nth-child(3) {
  border-top: none;
}

.firstPageSessionTimeSelectDown p:nth-child(3n) {
  border-right: none;
}

.firstPage .sessionItem_active {
  background-color: rgba(255, 255, 255, 0.5);
  color: #621402;
  border: 1px solid #350a01;
}

.secondPage {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.8rem;
}

.secondPage .secondPageSchemeWrapper {
  width: 95%;
  margin: 0 auto;
}

.secondPageTag {
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 3rem 0;
}

.secondPageScheme {
  width: 100%;
  background-color: #551102;
  border-radius: 10px;
  min-height: 60vh;
  border: 1px solid rgba(36, 36, 36, 0.226);
}

.secondPageSchemeScreen {
  width: 100%;
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  margin-top: 4rem;
}

.secondPageSchemeScreenLight {
  width: 96%;
  height: 6rem;
  margin: 0 auto;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0.21)), to(rgba(196, 196, 196, 0)));
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.21) 0%, rgba(196, 196, 196, 0) 100%);
}

.secondPageSchemeScreenLight::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-top: 6rem solid #551102;
  border-right: 4rem solid transparent;
}

.secondPageSchemeScreenLight::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-top: 6rem solid #551102;
  border-left: 4rem solid transparent;
}

.secondPageSchemeAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin: 5rem 0 3rem;
}

.secondPageSchemeAbout div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

.secondPageSchemeAbout div svg {
  width: 4rem;
}

.secondPageSchemeAbout div span {
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.secondPageSchemeAbout div:nth-child(3) {
  margin: 0;
}

.secondPagePayment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6rem;
}

.secondPagePaymentPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondPagePaymentPrice span:nth-child(2) {
  font-size: 5rem;
  margin-left: 1rem;
  line-height: 5rem;
}

.secondPagePaymentBuy {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1.8rem 0;
}

.secondPagePaymentBuy:hover {
  color: #621402;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #FFFFFF;
}

.rotateSvgOpen {
  -webkit-animation: svgOpen 1s;
          animation: svgOpen 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.rotateSvgClose {
  -webkit-animation: svgClose 1s;
          animation: svgClose 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes svgOpen {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes svgOpen {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes svgClose {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes svgClose {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
/*# sourceMappingURL=style.css.map */