:root {
  font-size: 10px;

  @media (max-width: 1160px) {
    font-size: 9px;
  }
  @media (max-width: 1060px) {
    font-size: 8px;
  }
  @media (max-width: 940px) {
    font-size: 7px;
  }
  @media (max-width: 840px) {
    font-size: 6.5px;
  }
}

@mixin Roboto {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #FFFFFF;
}

body {
  background-color: #621402;
  margin: 0;
  cursor: default;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.firstPage {
  background: linear-gradient(180deg, rgba(146, 32, 7, 0.31) -30%, #621402 85.62%),
   url(./images/bg.png) no-repeat center top / cover;
  min-height: 100vh;

    .header {
      padding-top: 3rem;
      display: flex;

        &Left {
          display: flex;
          align-items: center;
        
            .logoSvg {
              display: block;
              width: 3rem;
              &:hover svg {
                fill: gray;
              }

                svg {
                  width: 100%;
                  
                }
            }
          
            &Navigation {
              display: flex;
              margin-left: 5.5rem;
            
                a {
                  @include Roboto();
                  text-decoration: none;
                  margin-right: 2.5rem;
                  cursor: not-allowed;
                  &:hover {
                    color: rgb(211, 211, 211);
                    // text-decoration: underline;
                  }
                }
            }
          
        }
      
        &Right {
          display: flex;
          align-items: center;
          margin-left: auto;
        
            p {
              @include Roboto();
              font-size: 1.6rem;
            }
          
            img {
              width: 3.3rem;
              height: 3.3rem;
              border-radius: 50%;
              margin-left: 1.2rem;
            }
        }
    }

    &Film {
      margin-top: 7rem;
      display: flex;

        &Info {
          @include Roboto();

            h3 {
              font-size: 2.4rem;
              opacity: 0.6;
              margin: 0;
            }

            h1 {
              margin: 1.1rem 0 2.4rem;
              font-size: 3.6rem;
              font-weight: 700;
            }

            p {
              margin: 0;
              font-size: 1.6rem;
            }

            .subInfo {
              display: flex;
              margin-top: 4.5rem;

                div {
                  display: flex;
                  align-items: center;
                  margin-right: 3rem;

                    p {
                      font-size: 1.6rem;
                      margin-left: 1rem;
                        span {
                          font-size: 2.4rem;
                          line-height: 100%;
                        }
                    }
                }
            }
        }

        &Trailer {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          margin: auto;
          cursor: not-allowed;
            svg {
              fill:#621402ad;
              transition: 0.5s;
              &:hover {
                fill: #621402ad;
                transform: scale(1.1);

                 path {
                   fill: rgb(207, 203, 203);
                 }
              }

              path {
                fill: rgb(187, 184, 184);
              }
            }
        }
    }

    &Session {
      padding-top: 5rem;
      margin-top: 6rem;
      padding-bottom: 6rem;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      @include Roboto();
      font-size: 1.6rem;
      display: flex;
      justify-content: space-between;
    
        &Date {
          
            p {
              margin: 0;
              margin-bottom: 2rem;
            }

            &Blocks {
              display: flex;

                &Item {
                  cursor: pointer;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-right: 1.5rem;
                  width: 9rem;
                  border: 1px solid rgba(255, 255, 255, 0.5);
                  border-radius: 5px;
                  transition: 0.2s;
                  &:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                    color: #621402;
                    border: 1px solid #FFFFFF;
                  }
                
                    span:nth-child(1) {
                      text-transform: uppercase;
                    }
                  
                    span:nth-child(2) {
                      font-size: 3rem;
                      font-weight: 900;
                    }
                  
                    span:nth-child(3) {
                      font-size: 1.9rem;
                    }
                }

                &Item:nth-child(4) {
                  margin: 0;
                }
            }
        }

        &Place {

            p {
              margin: 0;
            }

            &Select {
              cursor: pointer;
              width: 40rem;
              margin-top: 3rem;
              display: flex;
              align-items: center;
              background: rgba(255, 255, 255, 0.15);
              border: 1px solid rgba(255, 255, 255, 0.5);
              border-radius: 5px;

                span {
                 margin: 1.8rem; 
                }

                svg {
                  margin-left: auto;
                  margin-right: 1.8rem;
                }
            }

            #placeSelectToggler {
              display: none;
              width: max-content;
              margin-top: 10px;
            }

            &SelectDown {
              width: 40rem;
              
              background-color: rgba(255, 255, 255, 0.082);
              border: 1px solid rgba(255, 255, 255, 0.5);
              border-radius: 5px;
              

                p {
                  cursor: pointer;
                  padding-left: 1.8rem;
                  padding-top: 1.5rem;
                  padding-bottom: 1.5rem;
                  border-top: 1px solid rgba(255, 255, 255, 0.5);
                  &:hover {
                    background-color: rgba(255, 255, 255, 0.15);
                  }
                }

                p:nth-child(1) {
                  border-top: none;
                }
            }
        }

        &Time {
          // margin-right: 2rem;

            p {
              margin: 0;
            }

            &Select {
              cursor: pointer;
              width: 20rem;
              margin-top: 3rem;
              display: flex;
              align-items: center;
              background: rgba(255, 255, 255, 0.15);
              border: 1px solid rgba(255, 255, 255, 0.5);
              border-radius: 5px;

                span {
                 margin: 1.8rem; 
                }

                svg {
                  margin-left: auto;
                  margin-right: 1.8rem;
                }
            }    

            #timeSelectToggler {
              display: none;
              width: max-content;
              margin-top: 10px;
            }

            &SelectDown {
              display: flex;
              width: 20rem;
              flex-wrap: wrap;
              
              background-color: rgba(255, 255, 255, 0.082);
              border: 1px solid rgba(255, 255, 255, 0.5);
              border-radius: 5px;

                p {
                  width: 33%;
                  cursor: pointer;
                  text-align: center;
                  padding-top: 1.5rem;
                  padding-bottom: 1.5rem;
                  border-top: 1px solid rgba(255, 255, 255, 0.5);
                  border-right: 1px solid rgba(255, 255, 255, 0.5);
                  &:hover {
                    background-color: rgba(255, 255, 255, 0.15);
                  }
                }

                p:nth-child(1), p:nth-child(2), p:nth-child(3) {
                  border-top: none;
                }

                p:nth-child(3n) {
                  border-right: none;
                }
            }
        }
    }

    .sessionItem_active {
      background-color: rgba(255, 255, 255, 0.5);
      color: #621402;
      border: 1px solid #350a01;
    }
}

.secondPage {
  min-height: 100vh;
  @include Roboto();
  font-size: 1.8rem;
  display: none;

      .secondPageSchemeWrapper {
        width: 95%;
        margin: 0 auto; 
      }

      &Tag {
        font-size: 2.5rem;
        letter-spacing: 0.1em;
        text-align: center;
        margin: 3rem 0;
        font-weight: bold;
      }

      &Scheme {
        width: 100%;
        background-color: #551102;
        border-radius: 10px;
        min-height: 60vh;
        border: 1px solid rgba(36, 36, 36, 0.226);

          &Screen {
            width: 100%;
            height: 1rem;
            background-color: rgba(0, 0, 0, 0.24);
            border-radius: 5px;
            margin-top: 4rem;
          }   
          
          &ScreenLight {
            width: 96%;
            height: 6rem;
            margin: 0 auto;
            position: relative;
            background: linear-gradient(180deg, rgba(196, 196, 196, 0.21) 0%,
             rgba(196, 196, 196, 0) 100%);
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              border-top: 6rem solid #551102;
              border-right: 4rem solid transparent;
              
            }
            &::after {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              border-top: 6rem solid #551102;
              border-left: 4rem solid transparent;
            }
          }

          &Seating {
            width: 100%;
            // display: flex;
            // flex-direction: column;
              
              svg {
                width: 3.5rem;
                margin-right: 10px;
                cursor: pointer;
                &:hover {
                  fill: rgba(255, 255, 255, 0.57);
                  
                }
              }

              .schemeBigBlocks, .schemeSmallBlocks {
                // background-color: rgb(53, 29, 33);
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                
                  
                  .bigBlock, .smallBlock {
                    // background-color: brown;
                    margin: 0 auto;
                    margin-top: 2.5rem;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                      &Row {
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        margin-bottom: 0.8rem;
                      }

                      svg:last-of-type {
                        margin: 0;
                      }
                  }

                  .bigBlock span:last-of-type, .smallBlock span:last-of-type {
                    margin: 0;
                  } 
              }              
          }

          &About {
            display: flex;
            align-items: center;
            padding-top: 2rem;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            margin: 5rem 0 3rem;

              div {
                display: flex;
                align-items: center;
                margin-right: 3rem;

                  svg {
                    width: 4rem;
                  }

                  span {
                    margin-left: 1rem;
                    font-size: 1.6rem;
                    font-weight: 400;
                  }
              }

              div:nth-child(3) {
                margin: 0;
              } 
          }
      }

      h3 {
        text-align: center;
        margin: 2rem;
      }

      &Payment {        
        margin-bottom: 2rem;
        width: 100%;
        background-color: #551102;
        border-radius: 10px;
        border: 1px solid rgba(36, 36, 36, 0.226);

          &Wrapper {
            width: 95%;
            margin: 0 auto;
            display: flex;
            padding: 0.5rem 0 1rem;

              .secondPagePaymentSeats {
                
                  #cinemaName {
                    opacity: 0.6;
                    
                  }
                
                  .payForSeat {
                    display: flex;
                    align-items: center;
                    padding: 1rem 0;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

                      svg {
                        margin: 0 1rem;
                      }
                      
                      &Block {
                        padding-right: 2rem;

                          div {
                            opacity: 0.7;
                          }
                        
                          span {
                            margin-left: 2rem;
                            font-weight: 700;
                          }
                      }

                      .seatRemove {
                        display: flex;
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        padding: 0.7rem;
                        border-radius: 6px;
                        margin-left: auto;
                        font-size: 1.2rem;
                        margin-right: 3px;
                        cursor: pointer;
                        &:hover {
                          color: #621402;
                          background-color: rgba(255, 255, 255, 0.5);
                          border: 1px solid #FFFFFF;
                        }
                      }
                  }
                      
                  

                  .payForSeat:first-of-type {
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    margin-top: 1rem;
                  }
              }
            
              .secondPagePaymentBuy {
                margin-left: auto;

                  span:first-of-type {
                    // font-size: 1.6rem;
                    opacity: 0.9;
                  }

                  span:last-of-type {
                    font-size: 2.4rem;
                    font-weight: 700
                  }
                
                  a {
                    @include Roboto();
                    font-size: 1.8rem;
                    font-weight: 600;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 25rem;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 10px;
                    padding: 1.8rem 0;
                    margin-top: 2rem;
                    cursor: not-allowed;
                    &:hover {
                      color: #621402;
                      background-color: rgba(255, 255, 255, 0.5);
                      border: 1px solid #FFFFFF;
                    }
                  }
              
              }
          
          }
      }
}



.rotateSvgOpen {
  animation: svgOpen 1s;
  animation-fill-mode: forwards;
}

.rotateSvgClose {
  animation: svgClose 1s;
  animation-fill-mode: forwards;
}

@keyframes svgOpen {
  0% {transform: rotate(180deg);}
  100%{transform: rotate(0deg);} 
}

@keyframes svgClose {
  100%{transform: rotate(180deg);} 
}

#seatHover {
  position: absolute;
  top: 900px;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  color: #621402;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  width: 140px;
  height: 90px;
  @include Roboto();
  

    span:nth-child(1) {
      font-size: 16px;
      font-weight: 800;
    }

    span:nth-child(2) {
      font-size: 24px;
      font-weight: 900;
    }

    span:nth-child(3) {
      font-size: 18px;
      font-weight: 800;
    }
}